:root{
    --light-text:black;
    --light-bg:white;
    --light-clr-1: #D0B783;
    --light-clr-2:#BCD2D0;
    --light-clr-3:#F96161;
    --light-clr-4:#E1E9B7;

    --dark-text:black;
    --dark-bg:white;
    --dark-clr-1:white;
    --dark-clr-2:white;
    --dark-clr-3:white;
    --dark-clr-4:white;

    --header-height:3vh;
}

*{
    box-sizing: border-box;
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header{
    height: var(--header-height);
}

h1, #principal{
    text-align: center;
    position: absolute;
    margin: auto;
    left: 50vw;
    margin-left: -25vw;
    width: 50vw;
}

h1{
    top: 15vh;
    font-size: 3rem;
}

#principal{
    top: calc(35vh - var(--header-height));
    height: calc(30vh - var(--header-height));

}

div[id*='bg-']{
    width: 50%;
    height: calc(50vh - var(--header-height)/2);
}

#bg-section1{
    background: repeating-linear-gradient(-45deg, var(--light-clr-1), var(--light-clr-1) 5vh, var(--light-clr-2) 5vh, var(--light-clr-2) 10vh, var(--light-clr-3) 10vh, var(--light-clr-3) 15vh, var(--light-clr-4)  15vh, var(--light-clr-4)  20vh);

}

#bg-section2{
    background: repeating-linear-gradient(45deg, var(--light-clr-2), var(--light-clr-2) 5vh, var(--light-clr-3) 5vh, var(--light-clr-3) 10vh, var(--light-clr-4) 10vh, var(--light-clr-4) 15vh, var(--light-clr-1)  15vh, var(--light-clr-1)  20vh);

}

#bg-section3{
    background: repeating-linear-gradient(-135deg, var(--light-clr-3), var(--light-clr-3) 5vh, var(--light-clr-4) 5vh, var(--light-clr-4) 10vh, var(--light-clr-1) 10vh, var(--light-clr-1) 15vh, var(--light-clr-2)  15vh, var(--light-clr-2)  20vh);

}

#bg-section4{
    background: repeating-linear-gradient(135deg, var(--light-clr-4), var(--light-clr-4) 5vh, var(--light-clr-1) 5vh, var(--light-clr-1) 10vh, var(--light-clr-2) 10vh, var(--light-clr-2) 15vh, var(--light-clr-3)  15vh, var(--light-clr-3)  20vh);

}